{% extends 'base.html' %}
{% load static %}
{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <style>
    #section1 {
      background-image: url("{% static 'image/sec1_img0.jpg' %}");
      background-size:cover;
      color: #CCE6DC;
      text-align: right;
    }

    #section3 {
      background-image: url("{% static 'image/sec03_img0.png' %}");
    }
  </style>
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<!-- 프로젝트 소개 섹션 -->
<div class="section" id="section1">
  <div class="sec_inner">
    <div class="text_area">
      <h2 class="sec_tit">LOGIN<br>로그데이터를 이용한 비지니스 인사이트 도출<br></h2>
      </p>
    </div>
  </div>
</div>

<!-- 프로젝트 진행 섹션 -->
<div class="section" id="section2">
  <div class="row">
    <!-- 이미지 슬라이드 영역 -->
    <div class="col-md-6">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'image/sec2_img0.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'image/sec2_img1.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'image/sec2_img2.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <!-- Add more images as needed -->
        </div>
      </div>
    </div>

    <!-- 텍스트 영역 -->
    <div class="col-md-6">
      <div class="sec_inner">
        <div class="text_area text_white">
          <h2 class="sec_tit">프로젝트 진행 및 데이터 시각화</h2>
          <p class="sec_desc">Code and Visualization</p>
          <br><br><br><br><br><br><br><br>
          <img src="{% static 'image/sec2_flowchart.png' %}" alt="..." style="width:100px; height:auto;">
          <br><br><br><br>
          <p class="sec_desc"></p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 데이터 시각화 섹션 -->
<div class="section" id="section3">
  <div class="sec_inner">
    <div class="img_area">
      <img src="{% static 'image/sec03_img1.png' %}">
    </div>
    <div class="text_area">
      <h2 class="sec_tit">컨설팅 서비스</h2>
      <p class="sec_desc">호텔 컨설팅 서비스를 받아보세요.</p>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}


