{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% include 'navbar.html' %}

    <style>
    /* CSS code goes here */
    textarea {
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        resize: none;
        min-height: 200px; /* set a minimum height */
    }
    </style>
  
  <div class="container">
    <h1>프로젝트 진행</h1>
    <p>우리가 진행한 방식에 대한 소개를 포함하는 섹션입니다</p>
    <p><a href="{% url 'progress_write' %}">글 작성</a></p>

    <!-- Here is the loop over the whole_contents queryset -->
    {% for content in whole_contents %}
      <div>
        {% if content.code_content %}
          <!-- Add a textarea to display your code content -->
          <textarea id="code{{ forloop.counter }}" readonly>{{ content.code_content }}</textarea>
          <hr>
        {% elif content.text_content %}
          <!-- Use the striptags filter to remove HTML tags -->
          <p>{{ content.text_content|striptags }}</p>
          <hr>
        {% elif content.image_content %}
          <!-- Use MEDIA_URL to correctly display the image -->
          <img src="{{ MEDIA_URL }}{{ content.image_content }}" alt="Image">
          <hr>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts%}
  {{ whole_contents|json_script:"wholeContents" }}
  <script>
      // Get the data from the Django-generated JSON script tag
      const contents = JSON.parse(document.getElementById('wholeContents').textContent);
      // Apply CodeMirror to all the code textareas
      window.onload = function() {
        for (let i = 0; i < contents.length; i++) {
          const editor = CodeMirror.fromTextArea(contents[i], {
            lineNumbers: true,
            mode: "python",
            readOnly: true,
            theme: "ambiance",
            lineWrapping: true,
          });
        }
      };
  </script>
{% endblock %}
