{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
  /* CSS reset */
  html, body, div, form, input, label {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  /* Set the height to fill the viewport */
  html, body {
      height: 100%;
  }

  /* Create a flex container for the forms */
  .form-container {
      display: flex;
      height: 100%;
      padding: 10px;
  }

  /* Each form takes up a third of the width */
  .form-container form {
      flex: 1;
      padding: 10px;
      border: 1px solid #ddd;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  }
</style>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="introduce-content" id="introduce-content">
  <h1>시각화 자료</h1>
  <p>컨설팅 서비스입니다.</p>
</div> 
<div class="form-container">
  <form id="hotel-grade-form">
      <label for="capital">자본금:</label><br>
      <input type="number" id="capital" name="capital"><br>
      <label for="tags">태그:</label><br>

      <input type="checkbox" id="wifi" name="tags" value="wifi">
      <label for="wifi">와이파이</label><br>
      
      <input type="checkbox" id="parking" name="tags" value="parking">
      <label for="parking">주차가능</label><br>
      
      <input type="checkbox" id="fitness" name="tags" value="fitness">
      <label for="fitness">피트니스</label><br>
      
      <input type="checkbox" id="desk24" name="tags" value="desk24">
      <label for="desk24">24시간 데스크</label><br>
      
      <input type="checkbox" id="pool" name="tags" value="pool">
      <label for="pool">수영장</label><br>
      
      <input type="checkbox" id="sauna" name="tags" value="sauna">
      <label for="sauna">사우나</label><br>
      
      <input type="checkbox" id="nonSmokingRooms" name="tags" value="nonSmokingRooms">
      <label for="nonSmokingRooms">객실금연</label><br>
      
      <input type="checkbox" id="amenities" name="tags" value="amenities">
      <label for="amenities">어메니티</label><br>
      
      <input type="checkbox" id="breakfast" name="tags" value="breakfast">
      <label for="breakfast">조식운영</label><br>
      
      <input type="checkbox" id="luggageStorage" name="tags" value="luggageStorage">
      <label for="luggageStorage">수화물보관</label><br>
      
      <input type="checkbox" id="laptopRental" name="tags" value="laptopRental">
      <label for="laptopRental">노트북대여</label><br>
      
      <input type="checkbox" id="paidLaundry" name="tags" value="paidLaundry">
      <label for="paidLaundry">유료세탁</label><br>
      
      <input type="checkbox" id="smokingArea" name="tags" value="smokingArea">
      <label for="smokingArea">흡연구역</label><br>
      
      <input type="checkbox" id="business" name="tags" value="business">
      <label for="business">비즈니스</label><br>
      
      <input type="checkbox" id="restaurant" name="tags" value="restaurant">
      <label for="restaurant">레스토랑</label><br>

      <!-- 위와 같은 방식으로 더 많은 태그를 추가할 수 있습니다. -->
      <input type="button" value="계산" onclick="calculateHotelGrade()">
      <div id="hotel-grade-result"></div>
      
  </form>

  <form id="hotel-location-form">
      <label for="competitor">경쟁업소_수(1km내):</label><br>
      <input type="number" id="competitor" name="recommend2" placeholder="보다 적은"><br>
      <label for="competitor">버스정류장_수(1km내):</label><br>
      <input type="number" id="bus" name="recommend2" placeholder="보다 많은"><br>
      <label for="competitor">지하철역_수(1km내):</label><br>
      <input type="number" id="subway" name="recommend2" placeholder="보다 많은"><br>
      <label for="competitor">교통유동인구_월평균승하차총계(1km내):</label><br>
      <input type="number" id="population" name="recommend2" placeholder="보다 많은" ><br>
      <label for="competitor">관광지_수(1km내):</label><br>
      <input type="number" id="attraction" name="recommend2" placeholder="보다 많은"><br>
      <label for="competitor">쇼핑몰_수(1km내):</label><br>
      <input type="number" id="shopping" name="recommend2" placeholder="보다 많은"><br>
      <!-- 위와 같은 방식으로 더 많은 입력을 추가할 수 있습니다. -->
      <input type="button" value="제출" onclick="calculateHotelLocation()">
      <div id="hotel-location-result"></div>
  </form>

  <form id="hotel-name-form">
      <label for="name-preference">원하는 느낌의 이름:</label><br>
      <input type="button" value="출력" onclick="generateHotelName()">
      <div id="hotel-name-result"></div>
  </form>
  
</div>
{% block js %}
  <script src="{% static 'js/recommend1.js' %}"></script>
  <script src="{% static 'js/recommend2.js' %}"></script>
  <script src="{% static 'js/recommend3.js' %}"></script>
{% endblock %}
{% endblock %}
