:root {
  --primary-color: #5B4444; 
}

body {
font-family: 'Noto Sans KR', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.navbar { 
  background-color: #b3dfc5;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navbar-brand {
  margin-left: 10px;
}

.navbar .navbar-nav.ms-auto {
  margin-right: 10px;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.dash-app-content {
  height: 800px;
}